<h1> Links </h1>
<ul>
  <% @links.each do |link| %>

    <li>
      Title: <%= link.title %>
      URL: <%= link.url %>
      <% tag_names = [] %>
      <% link.tags.each do |tag| %>
        <% tag_names << tag.name %>

      Tag: <%= tag_names.join(" ") %>
      <% end %>

    </li>
  <% end %>

</ul>
