<form action="/links" method="post">
  <h1> Create new link </h1>
  <p>Required fields are followed by <strong><abbr title="required">*</abr></strong>.</p>
  <p>
    <label for="title"> Title:
      <input type="text" id="title" name="title" required />
      <strong><abbr title="required">*</abbr></strong>
    </label>
  </p>
  <p>
    <label for="url"> URL:
      <input type="url" id="url" name="url" required />
      <strong><abbr title="required">*</abbr></strong>
    </label>
  </p>
  <button> Add link </button>

</form>
